
.newsletter {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.newsletter h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-form input {
    padding: 10px;
    border-radius: 25px;
    border: none;
    width: 300px;
    font-size: 14px;
}

.newsletter-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #ccc;
}

.footer {
    background-color: #f9f9f9;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    flex: 1;
}

.footer-left h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 14px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.footer-center,
.footer-right {
    flex: 1;
}

.footer-center h4,
.footer-right h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-center ul,
.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-center li,
.footer-right li {
    margin-bottom: 10px;
}

.footer-center a,
.footer-right a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-center a:hover,
.footer-right a:hover {
    color: #000;
}
.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #888;
}

.payment-icons img {
    height: 20px;
    margin-left: 10px;
    border-radius: 15px;
}
